html, body {
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;    /* center in window's height */
    align-items: center;        /* center in window's width */
    background-color: black;
    min-height: auto;          
    padding-top: 4.5%;
}

.projects h6 {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 0 1rem;
}

.projects h6::before, .projects h6::after {
    content: '';
    position: absolute;
    top: 50%;       /* make line halfway down heading */
    width: 17vw;
    height: 0.5px;
    background: linear-gradient(to right, rgb(251, 245, 187), rgb(251, 246, 200));
    transform: translateY(-50%);
}

.projects h6::before {
    right: 100%;    /* line's right edge at h6's left edge */
    transform: rotate(180deg);
    background: linear-gradient(90deg, rgb(251, 245, 187), rgba(251, 245, 187, 0.8), transparent);
}

.projects h6::after {
    left: 100%;     /* line's left edge at h6's right edge */
    background: linear-gradient(90deg, rgba(251, 245, 187, 0.8), rgb(251, 245, 187), transparent);
}


.projects_box {
    display: flex;           
    flex-direction: column;
    position: relative;
    background: rgb(21, 21, 21);
    border-radius: 15px;
    border: 1px solid rgba(185, 185, 185, 0.4);     /* rgba(251, 245, 187, 0.3) */
    /* overflow: hidden; */
    transition: all 0.3s ease;
    width: 60%;
    height: 35vh;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}


.projects_title {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 600;
    padding-left: 1.4rem;
    padding-top: 1.1rem;
}

.tech_stack {
    padding-left: 1.4rem;
    padding-bottom: 1.4rem;
    margin-top: auto;
    cursor: pointer;
}
.technology {
    font-size: 0.9rem;
    font-weight: 500;
    background: white;      /* rgb(251, 245, 187) */
    border-radius: 10px;
    padding: 0.25rem 0.55rem;
}


/* remaining tech (e.g., +3) */
.remaining_tech {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 0.85rem;
}

/* tooltip styling */
.tooltip {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 150%;          /* place tooltip below +3 */
    left: 140%;          
    transform: translate(-50%, 10px) scale(0.95);   /* begin lower & smaller */
    white-space: nowrap;        /* text on one line */

    background: rgb(251, 245, 187);
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);

    opacity: 0;             /* bhide tooltip */
    pointer-events: none;  
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;

    font-weight: 450;
}

/* show tooltip on hover */
.remaining_tech:hover .tooltip {
    opacity: 1;             /* show tooltip */
    pointer-events: auto; 
    transform: translate(-50%, 0) scale(1);
}